.item-heading {
  margin-bottom: 10px;
}

.mobile-wrapper {
  @media only screen and (max-width: 767px) {
    overflow: scroll;
    height: calc(100vh - 100px);
    width: 100vw;
    margin: 0 -.6rem;
    padding: 0 0.6rem
  }
}