<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        <span class="label">{{ data.type | uppercase }}</span>
        <span [class]="'label label--' + data.level">{{ data.level | uppercase }}</span>
      </div>
      <div class="card-block">
        <div class="card-text">
          {{ data.content }}
        </div>
      </div>
      <div class="card-footer">
        <button (click)="openModal(data)" class="btn btn-sm btn-link">Pokaż odpowiedź</button>
      </div>
    </div>
  </div>
</div>
