.card-header {
  display: flex;
  justify-content: flex-end;
}

.card-footer {
  display: flex;
  justify-content: space-between;

  &__votes-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__votes-counter {
    margin: 0 10px;
    font-size: 16px;
  }
}

.label {
  &.label--junior {
    background-color: #FDD006;
    border-color: #FDD006;
  }

  &.label--mid {
    background-color: #FF9C32;
    border-color: #FF9C32;
  }

  &.label--senior {
    background-color: #F54F47;
    border-color: #F54F47;
  }
}